<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187522090509-l9efvufgfqr82r7dooo6ouclba0kpo8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187522090509-l9efvufgfqr82r7dooo6ouclba0kpo8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDVe7oe313V7FFgrLet3_MEnfzPa3-_VqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>187522090509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amaal.MassengerApp</string>
	<key>PROJECT_ID</key>
	<string>chat-62cce</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-62cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187522090509:ios:fc1a6b5eafe705c8527744</string>
</dict>
</plist>